/* Container for login component */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

/* Wrapper for login form */
.login-wrapper {
  max-width: 400px;
  width: 100%;
  margin: auto;
}

/* Box around the login form */
.login-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form styling */
.login-form {
  display: flex;
  flex-direction: column;
}

/* Heading style */
h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Form input fields */
.form-group {
  margin-bottom: 15px;
}

.input-field {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-field:focus {
  border-color: #007bff;
}

/* Error messages */
.error {
  color: #dc3545;
  font-size: 14px;
  margin-top: 5px;
}

/* Login button */
.login-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #0056b3;
}

/* Forgot password link */
.forgot-password {
  text-align: center;
  margin-top: 10px;
}

.forgot-password a {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
  float: inline-end;
}

.forgot-password a:hover {
  text-decoration: underline;
}


/* .input-field-username,
.input-field-password {
  width: calc(100% - 20px); 
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
} */
